<div class="event-details hidden">
	<p id="event-id"><%= @event.id %></p>
</div>

<h3>All messages for <%= @event.name %></h3>

<ul class="message-list list-group">
	<% @event.messages.order('created_at DESC').first(20).each do |message| %>
		<%= render partial: 'partials/message', locals: {message: message} %>
	<% end %>
</ul>