<%= month_calendar events: @events do |date,events| %>
	<%= date.day %>
	<% events.each do |event| %>
		<div class="calendar-event">
			<%= link_to event.name, event_path(event) %>
		</div>
	<% end %>
<% end %>