<ul class="events-list list-group">
	<% events.each do |event| %>
		<li class="list-group-item">
			<%= render partial: 'partials/event', locals: {event: event, user: @user} %>
		</li>
	<% end %>
</ul>