<div class="media reply">
	<div class="media-left">
		<% if reply.user.avatar.present? %>
				<%= cl_image_tag("sofit/#{reply.user.avatar.filename}", transformation: { width: 64, height: 64, crop: 'fit' } ) %>
			<% else %>
				<%= cl_image_tag("sample.jpg", transformation: { width: 64, height: 64, crop: 'fit' } )%>
			<% end %>
	</div>
	<div class="media-body">
		<h5 class="media-heading"><%= reply.user.username %></h5>
		<p class="small"><%= reply.content %></p>
	</div>
</div>