<aside id="controls" class="col-md-3">
	<div class="dropdown">
  	<a href="" class="toggle-dropdown">Create Event</a>
		<%= render partial: 'forms/new_event_form' %>
  </div>
  <div class="dropdown">
  	<a href="" class="toggle-dropdown">Sign Up</a>
		<%= render partial: 'forms/sign_up_form' %>
  </div>
</aside>