<div id="calendar-container">
	<div id="calendar_container">
		<%= render partial: "events/calendar", locals: {events: @events} %>
	</div>
</div>

<h2>Currently Displayed Events</h2>
<%= render partial: 'partials/events_list', locals: {events: @events} %>