<h1>Feed</h1>
<ul class="notifications-list list-group">
	<% @user.notifications.order('updated_at DESC').first(10).each do |notification| %>
		<%= render partial: 'partials/notification', locals: {notification: notification} %>
	<% end %>
</ul>

<%= link_to "See all #{@user.notifications.count} of your notifications", user_notifications_path%>