<h1><%= @user.username %></h1>
<h2>Nearby Events</h2>
<% @user.nearby_events(55).each do |event| %>
	<p><%= event.name %></p>
	<p>Distance: <%= event.distance_from(current_user).round %></p>
<% end %>

