var ajaxInProgress = false;
var needsUpdate = true;

$(document).on('turbolinks:load',function() {
	needsUpdate = true;
	ajaxInProgress = false;
	$(window).scroll(function() {
		needsMoreNotifications();
	});
});

function needsMoreNotifications() {
	if (  isCorrectController("notifications","index") && isScrolledIntoView( $('.notifications-list li:last-child')  ) && !ajaxInProgress && needsUpdate  ) {
		ajaxInProgress = true;
		$.ajax({
			type: 'get',
			url: '/notifications/get',
			data: {lowerLimit: $('.notifications-list li').length, upperLimit: $('.notifications-list li').length + 20},
			success: function(data) {
				$.each(data.notifications, function(index, notification) {
					$('.notifications-list').append('<li class="list-group-item"><p>'+ notification.content+'</p></li>')
					$('.notifications-list li:last-child').hide().fadeIn(450);
				});
				ajaxInProgress = false;
				if (data.notifications.length == 0) { needsUpdate = false };
			}
		});
	}
}


