<%= form_tag friendships_path, method: :post, remote: true, class: 'add-friend-form form' do %>
	<div class="form-group">
		<%= label_tag :email %>
		<%= text_field_tag :email, nil, class: 'form-control', placeholder: 'enter your friends email here to send them a friend request' %>
	</div>

	<div class="actions">
		<%= submit_tag "Add Friend", class: 'btn btn-primary' %>
	</div>
<% end %>