<%= form_for message, method: 'patch', remote: true do |f| %>
	<div class="input-group">
		<%= f.text_field :content, class: 'form-control' %>
		<span class="input-group-btn">
			<%= f.submit "Edit message", class:'btn btn-primary' %>
		</span>
	</div>
<% end %>