/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "registrations";
@import "sessions";
@import "forms";
@import "calendar";
@import "typography";
@import "friendships";


$font-family-sans-serif:  "Isotok Web", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Lora", "Times New Roman", Times, serif !default;


body, p, a, input[type="text"].form-control, .btn {
	font-family: "Raleway", serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Bitter", sans-serif;
}


.container-fluid {
	width: 100%;

	@media (min-width: 1000px ) {
		width: 67%
	}	
}


#controls {
	#new-event-form, #sign-up-form  {
		display: none;
	}
}

.dropdown-content {
	display: none;
}

.inline-button {
	display:inline
}

// elements to be hidden
