// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-list-options {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.update-calendar-link {
		margin-bottom: 7px;
		margin-right: 5px;
	}
}

.user-thumbnail {
	display: inline-block;	
	box-sizing: border-box;
	width: 20%;

	img {
		width:100%;
		display: block;
	}
}