.row.is-flex {
	display:flex;
	flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}


.friend-container {
	
	height: auto;
	margin-bottom: 0;
	padding-top: 15px;

	.thumbnail {
		padding-top: 15px;
		background: lighten($gray-base, 87.25%);
	}
}
