// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-container {
	position: relative;

	.page {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
	}
}

#home-page-forms-container {
	width: 85%;
	margin: auto;

	.panel-body form {
		padding: 15px;
	}

	li.active a {
		border-top: none;
	}

	li:first-child.active a {
		border-left: none;
	}

	@media (min-width: 1000px) {
		width: 500px;
	}
}

.med-profile-pic {
	width: 200px;
	height: auto;
}